body {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 3px dotted red;
  width: 800px;
  margin: 0 auto;
}
header { 
    box-sizing: border-box;
    border: 2px red;
width: 300px
margin 25px}